body {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.vTVAHbkiUmyLdlSFeaJ32QHaEK&pid=Api&P=0&h=180") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-color: transparent;
min-height: 100vh;
}

@media only screen and (max-width: 600px) {

    .container {
        border: none !important;
        width: 100% !important;
        position: fixed !important;
        margin-left: 18px !important;
    }
 
    #rbtn {
        font-size: 16px !important;
        margin-left: -100px !important;
    }

    .action {
        left: 57% !important;
        display: flex !important;
        position: fixed;

    }

    .btn1 {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: -99px !important;
        width: 80% !important;
    }

    .score-die{
        font-size: 28px !important;
        color:antiquewhite !important;
        width: 57vw !important;
        
    }
    .action p{
    font-size: 13px !important;
    gap: 123px !important;
    }
}


.container {
    border: none;
    width: 400px;
    top: 100px;
    left: 34%;
    position: fixed;
    background-color: transparent !important;
}

.container .btn1 button {
    background: transparent;
    outline: none !important;
    border-color: blue !important;
}

 .btn1{
 display: flex;
 justify-content: center;
 align-items: center;
 }
 
 .btn{
     font-size: 60px;
     text-align: center;
     height: 100px;
     width: 100px;
     cursor: pointer;
     
     color:navajowhite;
 }
 #rbtn{
    font-size: 20px;
     text-align: center;
    padding: 2px;
     cursor: pointer;
     font-weight: 700;
     margin-top: -2%;
     position: absolute;
     color:rgb(32, 28, 25);
     background-color: rgb(255, 210, 114);
 }
 
 #d1
 {
    font-size: 60px;
     text-align: center;
     height: 100px;
     width: 100px;
     cursor: pointer;
     color:navajowhite; 
      border:none;  
   
 }
 #d1:hover{
     font-size: 100px;
 }
 #d2
 {
     border-bottom: none;  
     border-right: none; 
     font-size: 60px;
     text-align: center;
     cursor: pointer;
   border-top:none;
   height: 100px;
   width: 100px;
   color:navajowhite;
   
 }
 #d2:hover{
     font-size: 100px;
 }
 #d3{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-top: none;
     border-right: none;
     border-bottom: none;
     height: 100px;
     color:navajowhite;
     width: 100px; 
 }
 #d3:hover{
     font-size: 100px;
 }
 #d4{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-left: none;
     border-right: none;
     height: 100px;
     color:navajowhite;
     width: 100px;
 }
 #d4:hover{
     font-size: 100px;
 }
 
 #d5{font-size: 60px;
     text-align: center;
     cursor: pointer;
     height: 100px;
     width: 100px;
     color:navajowhite;
     border-right: none;
 }
 #d5:hover{
     font-size: 100px;
 }
 
 #d6{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-right: none;
     height: 100px;
     width: 100px;
     color:navajowhite;
 } 
 #d6:hover{
     font-size: 100px;
 }
 
 #d7{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-top: none;
 border-left: none;
 border-bottom: none;
 border-right: none;
 height: 100px;
 color:navajowhite;
   
     width: 100px;
 }
 #d7:hover{
     font-size: 100px;
 }
 #d8{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-top: none;
     border-bottom: none;
     border-right: none;
     height: 100px;
     width: 100px;
     color:navajowhite;
 }
 #d8:hover{
     font-size: 100px;
 }
 
 #d9{
     font-size: 60px;
     text-align: center;
     cursor: pointer;
     border-top: none;
     border-right: none;
     border-bottom: none;
     height: 100px;
     color:navajowhite;
     width: 100px;
 }
 #d9:hover{
     font-size: 100px;
 }
 .action{position: absolute;
     left: 50%;
     top: 50%;
     width: 600px;
     margin-left: -300px;
     margin-top: 230px;
     
     text-align: center;
     cursor: pointer;
     user-select: none;
 }
 .action p{
     font: 20px  "Raleway",sans-serif;
     font-weight: 400;
     color: antiquewhite;
     text-transform: uppercase;
     line-height: 1;
     display: inline-block;
     margin: 11px;
     padding: 0;
 }
 .score{
     font-size: 50px;
     color:antiquewhite;
     display: block;
     height: 60px;
     padding: 10px 0 0 0;
     will-change: transform;
 }
 .score-die{
     font-size: 40px;
     color:antiquewhite;
     height: 60px;
     display: flex;
     justify-content: flex-end;
     width: 35vw;
     will-change: transform;
     margin-bottom: 2px;
 }
 
 .action.p1 .p2{
     display: none;
 }
 #btn{
     position: relative;
     bottom: 600px;
     right: -59px;
     height: 38px;
     background-color: antiquewhite;
 }
 #btn:hover{
     background-color: aqua;
 cursor: pointer;
 }
 

 .custom_class{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }